<launch>

  <arg name="robot_type" default="panda" /> <!-- or pr2 -->

  <rosparam file="$(find moveit_planning)/config/$(arg robot_type)/object_params.yaml" command="load"/>
  <rosparam file="$(find moveit_planning)/config/$(arg robot_type)/solvers_params.yaml" command="load"/>
  <rosparam file="$(find moveit_planning)/config/$(arg robot_type)/robot_params.yaml" command="load"/>
  <node name="main" pkg="moveit_planning" type="main" output="screen">
  
  </node>
</launch>