<launch>
  <rosparam file="/home/lfredon/Documents/ws_moveit/src/moveit_planning/config/object_params.yaml" command="load"/>
  <rosparam file="/home/lfredon/Documents/ws_moveit/src/moveit_planning/config/solvers_params.yaml" command="load"/>
  <rosparam file="/home/lfredon/Documents/ws_moveit/src/moveit_planning/config/robot_params.yaml" command="load"/>
  <node name="testmain" pkg="moveit_planning" type="testmain" output="screen"/>
</launch>